.flower {
    transition: all 1s ease;
    background: url(../img/flower.png) top right/909px 936px no-repeat,
        url(../img/flower_stroke.png) top right/954px 924px no-repeat;
    position: relative;
    height: 936px;
}

.flower2 {
    transition: all 1s ease;
    background: url(../img/flower2.png) top right/909px 936px no-repeat,
        url(../img/flower_stroke.png) top right/954px 924px no-repeat;
    position: relative;
    height: 936px;
}

.flower-mob {
    background: none;
}


@media (max-width: 1230px) {
    .flower {
        background: url(../img/flower.png) top right/ calc(909px * 0.89) calc(936px * 0.89) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.89)  calc(924px * 0.89) no-repeat;
    }

    .flower2 {
        background: url(../img/flower2.png) top right/ calc(909px * 0.89) calc(936px * 0.89) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.89)  calc(924px * 0.89) no-repeat;
    }   
}

@media (max-width: 1130px) {
    .flower {
        background: url(../img/flower.png) top right/ calc(909px * 0.8) calc(936px * 0.8) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px / 2)  calc(924px / 2) no-repeat;
    }

    .flower2 {
        background: url(../img/flower2.png) top right/ calc(909px * 0.8) calc(936px * 0.8) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.8)  calc(924px * 0.8) no-repeat;
    }   
}

@media (max-width: 1030px) {
    .flower {
        background: url(../img/flower.png) top right/ calc(909px * 0.7) calc(936px * 0.7) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.7)  calc(924px * 0.7) no-repeat;
    }

    .flower2 {
        background: url(../img/flower2.png) top right/ calc(909px * 0.7) calc(936px * 0.7) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.7)  calc(924px * 0.7) no-repeat;
    }   
}

@media (max-width: 930px) {
    .flower {
        background: url(../img/flower.png) top right/ calc(909px * 0.66) calc(936px * 0.66) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.66)  calc(924px * 0.66) no-repeat;
    }

    .flower2 {
        background: url(../img/flower2.png) top right/ calc(909px * 0.66) calc(936px * 0.66) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.66)  calc(924px * 0.66) no-repeat;
    }   
}

@media (max-width: 880px) {
    .flower {
        background: url(../img/flower.png) top right/ calc(909px * 0.6) calc(936px * 0.6) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.6)  calc(924px * 0.6) no-repeat;
    }

    .flower2 {
        background: url(../img/flower2.png) top right/ calc(909px * 0.6) calc(936px * 0.6) no-repeat,
            url(../img/flower_stroke.png) top right/calc(954px * 0.6)  calc(924px * 0.6) no-repeat;
    }   
}

@media (max-width: 800px) {
    hr {
        margin-bottom: -23px;
    }
    .flower-mob {
        transition: all 1s ease;
        background: url(../img/flower-mob.png) top -43px right/320px 624px no-repeat,
            url(../img/flower_strokeMobile.png) top -43px right/341px 1037px no-repeat;
    }
    
    .flower {
        background: none;
    }

    .flower2 {
        background: none;
    }
}

@media (max-width: 600px) {
    .flower-mob {
        background: url(../img/flower-mob.png) top -43px right/196px 413px no-repeat,
            url(../img/flower_strokeMobile.png) top -43px right/211px 690px no-repeat;
    }
}

@media (max-width: 400px) {
    .flower-mob {
        background: url(../img/flower-mob.png) top -90px right/144px 413px no-repeat,
            url(../img/flower_strokeMobile.png) top -90px right/156px 690px no-repeat;
    }
}
